//background
$bg-color-white: #FFFFFF;
$bg-color-black: #000000;

//borders color
$border-white: #e6e6e6;

//transition
$transition-main: 300ms;
$transition-main-4ms: 400ms;
$transition-main-0-5s: 0.5s;

//btn colors
$hover-primary: linear-gradient(to right, #84abec, #cf84fb);
$btn-primary: linear-gradient(to right, #84abec, #cf84fb);