//button color
$btn-primary: linear-gradient(to right, #84abec, #cf84fb);
$btn-hover-primary: #000000;
$btn-hover-black: rgb(196, 189, 189);

@mixin button($bg-color) {
    background: $bg-color;
    color: #FFFFFF;
    padding: 0.5rem 1.75rem;
    border-radius: 50px;
    letter-spacing: 2px;
    font-family: Oswald, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
