.hero-section-4 {
    margin-top: 1.25rem;
    // height: 100%;
    padding: 1rem 0;

    @include min-width(laptop) {
        margin-top: 0;
       
    }


    &__container {
       
        
        @include min-width(laptop) {
            height: 100%;
            flex-direction: row;
            justify-content: space-between;
          
        }
    }

    &__image {

        @include min-width(laptop) {
            order: 2;
            
        }

        > img {
            width: 100%;
            object-fit: cover;  
            object-position: 0% 0%;
            background-position: 0% 0%;

            @include min-width(desktop) {
                width: 846px;
            }

            
            @media(min-width: 1800px) {
                width: 100%;
            }
        }
    }

    &__contents {
        position: relative;
        width: 80%;
        margin: 0 auto;
        height: 300px;

        @include min-width(laptop) {
            order: 1;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-basis: 35%;
            margin-left: 1.25rem;
            height: 80%;
        }

        @include min-width(desktop) {
            margin: 0 auto;
            flex-basis: unset;
            width: 25%;
            height: 500px;
            flex: unset;
        }

        
        > .image-content {


            > img {
                position: absolute;
                width: 86px;
                z-index: -1;

                @include min-width(laptop) {
                    width: 150px;
                    top: 0;
                    object-fit: cover;
                }
            }

            > h2 {

                @include min-width(laptop) {
                    font-size: 2.3rem;
                    line-height: 1.2;
                 
                }
            }
        }

        > .text-contents {

            
            @include min-width(laptop) {
              
            }
    
            

            > p {
                font-style: italic;

                @include min-width(laptop) {
                    margin-bottom: 2.2rem;
                }

            }

            > a {
                @include button($btn-primary);

                &:hover {
                    color: $btn-hover-primary;
                }
            }
        }
    }
}