.hero-section-5 {
    padding: 4rem 0;


    @include min-width(laptop) {
        padding: 0;
        padding-bottom: 2rem;
    }
    &__container {

        @include min-width(laptop) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__image {

        @include min-width(laptop) {
            flex: 1.5;
        }

        > img {
            width: 100%;
            height: 287px;
            object-fit: cover;

            @include min-width(mobile) {
                height: auto;
            }

            @include min-width(laptop) {
                height: 636px;
                object-position: 100% 0%;
            }
        }
    }

    &__contents {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2rem;

        @include min-width(laptop) {
            flex: 1;
            padding-bottom: 0;
        }

        > h2 {
            
            @media (min-width: 500px) {
                font-size: 2.3rem;
            }
        }

        > p {
            font-style: italic;

            @include min-width(laptop) {
                width: 60%;
            }
        }

        a {
            @include button($btn-hover-primary);

            &:hover {
                color: $btn-hover-black;
            }
        }
    }
}